.textInput {
  width: 100%;
  min-height: 44px;
  padding: 0 14px;
  border: 1px solid var(--border);
  border-radius: 8px;
  color: var(--item-text);
  background-color: var(--item);

  &:focus {
    border-color: var(--action);
    outline: none;
  }
}
