.createTodoForm {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  margin-top: 24px;

  &__label {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }

  &__labelText {
    color: var(--panel-text);
    font-size: var(--font-size-sm);
  }
}

